.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.description-title {
  font-family: "CooperHewitHeavy";
  font-size: 49px;
  font-weight: 900;
  text-transform: none;
  line-height: 1.1em;
  letter-spacing: -0.6px;
}
.description {
  font-family: "Cooper Hewit Heavy";
  font-size: 20px;
}
.cta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
