.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.description-title {
  font-family: "Manrope", Sans-serif;
  font-size: 49px;
  font-weight: 900;
  text-transform: none;
  line-height: 1.1em;
  letter-spacing: -0.6px;
}
.description {
}
.cta-wrapper {
}
