section {
  padding-block: 50px;
}
.journey {
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 60%;

  padding: 2rem;
}
.img-wrapper {
  width: 40%;
  padding: 2rem;
}
.method {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.method-text {
  z-index: 1;
  width: 30%;
}
.wheel-img {
  width: 500px;
}
.pasta-img {
  width: 500px;
  z-index: 0;
  position: absolute;
  top: 100px;
  right: 0px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.account-management {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.section-logo {
  width: 300px;
}
.account-img {
  width: 600px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
}

.partners-wrapper {
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact-img {
  width: 600px;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: start;
  justify-content: center;
}
.contact-title {
  display: flex;
  justify-content: left;
}
