.logo-contact-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.logo {
  width: 400px;
  height: auto;
  margin-top: 1rem;
}
.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-number {
  margin-inline: 1rem;
  font-weight: 600;
}
